
body{
    width: 1280px;
    height: 853px;
}
.Background{
    width: 1280px;
    height: 720px;
    position:absolute;

}

.white{
    background-color:white;
    width: 416px;
    height: 291px;
    opacity: 80%;
    position:absolute;
    top: 30%;
    left:30% ;
    
}
.Welcome{

    font-size: 140%;
    position:absolute;
    top: 31.3%;
    left:40.3% ;
    color: gray;
}
.Email{
    width: 23%;
    position:absolute;
    top: 40%;
    left:32.3% ;
}
.Password{
    width: 23%;
    position:absolute;
    top: 48%;
    left:32.3% ;
}
.SignUp{
    width: 10%;
    position:absolute;
    top: 58%;
    left:33% ;

}
.SignIn{
    width: 10%;
    position:absolute;
    top: 56%;
    left:45% ;

}
.Details{
    width: 50%;
    position:absolute;
    bottom:4.5%;
    left:18.5% ;

}

.green{
    width: 1280px;
    height: 81px;
    background-color:#5CE4D659;
    opacity: 99%;
    position:absolute;
    bottom:4%;

}
.Title{
    width: 90%;
    position:absolute;
    top:0;
    left:0 ;
}

p{
    font-size: 100px;
}
@media only screen and (max-width:768px){
    .Background{
        width:  1000px;
        height: 1000p;
        position:absolute;
        top: -10%;
        left:-20% ;
    }
    .Title{
        width: 153%;
        position:absolute;
        top:0;
        left:-25% ;
    }
    .white{
        background-color:white;
        width: 350px;
        height: 270px;
        opacity: 80%;
        position:absolute;
        top: 27%;
        left:24% ;
        
    }
    .Email{
        width: 40%;
        position:absolute;
        top: 40%;
        left:30% ;
    }
    .Password{
        width: 40%;
        position:absolute;
        top: 48%;
        left:30% ;
    }
    .green{
        width: 1280px;
        height: 65px;
        background-color:#5CE4D659;
        opacity: 99%;
        position:absolute;
        bottom:0%;
    
    }
    .Welcome{

        font-size: 140%;
        position:absolute;
        top: 31.3%;
        left:43% ;
        color: gray;
    }

    .SignIn{
        width: 18%;
        position:absolute;
        top: 56%;
        left:52% ;
    
    }
    .Details{
        width: 100%;
        position:absolute;
        bottom:0%;
        left:0% ;
    
    }

    .SignUp{
        width: 20%;
        position:absolute;
        top: 57%;
        left:31% ;

}
@media only screen and (max-width:320px){

    .Background{
        width:  1000px;
        height: 110%;
        position:absolute;
        top: -10%;
        left: -130% ;
    }
    .Title{
        width: 320px;
        position:absolute;
        top:0;
        left:0 ;
    }
    .white{
        background-color:white;
        width: 300px;
        height: 240px;
        opacity: 80%;
        position:absolute;
        top: 24%;
        left:3% ;
        
    }
    .Email{
        width: 73%;
        position:absolute;
        top: 35%;
        left:14% ;
    }
    .Password{
        width: 73%;
        position:absolute;
        top: 41%;
        left:14% ;
    }
    .green{
        width: 1280px;
        height: 69px;
        background-color:#5CE4D659;
        opacity: 99%;
        position:absolute;
        bottom:0%;
    
    }
    .Welcome{

        font-size: 140%;
        position:absolute;
        top: 27%;
        left:32% ;
        color: gray;
    }

    .SignIn{
        width: 25%;
        position:absolute;
        top: 48%;
        left:60% ;
    
    }
    .Details{
        width: 100%;
        position:absolute;
        bottom:-15%;
        left:0% ;
    
    }

    .SignUp{
        width: 40%;
        position:absolute;
        top: 49%;
        left:16% ;
}
